.mcimg{
	width: 485px;
	height: 485px;
	background: pink;
	margin-left: 180px;
	margin-top: 10px;
	position: relative;
	float:left;
	img{
		width: 485px;
		height: 485px;
	}
	.float_layer{
		width: 160px;
		height:160px;
		border: 1px solid #000;
		background: #fff;
		//filter: alpha(opacity : 30);
		opacity: 0.3;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	.mark{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		background: red;
		opacity: 0;
	}
}
.mcimage{
	width: 485px;
	height: 485px;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	.mimg{
		width: 485px;
		height: 240px;
		background: pink;
		img{
			width: 485px;
			height:240px ;
		}
		h2{
			font-size: 20px;
			color: #2093cc;
			margin-top:15px ;
			float: left;
		}
		.price{
			font-size: 15px;
			color: #2093cc;
			margin-top:20px;
			float: right;
		}
		.ggsc{
			width: 485px;
			height: 50px;
			margin-top: 60px;
			position: relative;
			.gg{
				padding-left: 5px;
				width: 230px;
				height: 50px;
				background:#2093cc ;
				//margin-top:150px;
				float: left;
			}
			.sc{
				width: 235px;
				height: 50px;
				background:#2093cc;
				//margin-top: 60px;
				float: right;
			}
		}
		.cjgwc,.slgm{
			margin-top: 15px;
		}
		.slgm .gm{
			background: yellow;
		}
		.ggscc .ggg,.cjgwc .cj{
			color: white;
			line-height: 50px;	
			input{
				height: 25px;
				padding-left: 10px;
				color:#2093cc;
				border: 0;
			}
		}
		#gwc{
			//background: red;
			padding-left: 5px;
			width: 230px;
			height: 50px;
			background:#2093cc ;
			//margin-top:150px;
			float: right;
			position: absolute;
			left: 250px;
			color: white;
			}
		.scc{
			color: white;
			text-align: center;
			line-height: 50px;
		}
		.slgm .sl{
			color: white;
			line-height: 50px;
			position: relative;
			.j{
				width: 20px;
				height: 20px;
				border: 1px solid white;
				display:block;
				margin-top: 15px;
				//float: left;
				position: absolute;
				left:80px;
				top: 0px;
				text-align: center;
				line-height: 20px;
			}
			.jj{
				width: 20px;
				height: 20px;
				border: 1px solid white;
				display:block;
				margin-top: 15px;
				//float: left;
				position: absolute;
				left:140px;
				top: 0px;
				text-align: center;
				line-height: 20px;
			}
			.text{
				width: 22px;
				height: 22px;
				background: white;
				display:block;
				margin-top: 15px;
				//float: left;
				position: absolute;
				left:111px;
				top: 0px;
				text-align: center;
				line-height: 20px;
				color: #2093cc;
				font-size: 13px;
			}
		}
		.gm{
			line-height: 50px;
			text-align: center;
			font-size: 14px;
		}
	}
 }

.big_pic{
	width: 500px;
	height: 485px;
	float: left;
	margin-top: 10px;
	//margin-left: 10px;
	//background: pink;
	position: absolute;
	left: 670px;
	overflow: hidden;
	border:2px solid #ccc;
	display: none;
	img{
		position: absolute;
		top:-30px;
		left: -80px;
	}
}
.bigimages{
	width: 996px;
	height:3850px;
	//overflow: hidden;
	margin:0 auto;
	margin-top: 510px;
	img{
		width: 100%;
		display: block;
	}
}
.wond{
	width: 996px;
	height: 310px;
	//background: pink;
	margin: 0 auto;
	h3{
		font-size: 13px;
		color:rgb(98, 98, 98);
	}
}
.index-tree{
	width:996px;
	height: 270px;
	margin: 10px auto;
	.jingdian{
		width: 325px;
		height: 270px;
		float: left;
		position:relative;
		overflow: hidden;
		img{transition:0.5s linear;}
	}
	.jingdian:hover img{
		transform:scaleX(1.1) scaleY(1.1);}
		
	.fashi{
		width:325px;
		height: 270px;
		float: left;
		margin-left: 11px;
		position:relative ;
		overflow: hidden;
		img{transition:0.5s linear;}
	}
	.fashi:hover img{transform:scaleX(1.1) scaleY(1.1);}
	.ice{
		width: 325px;
		height: 270px;
		float: right;
		position: relative;
		overflow: hidden;
		img{transition:0.5s linear;}
	}
	.ice:hover img{transform:scaleX(1.1) scaleY(1.1);}
	.jd{
		width: 315px;
		height: 43px;
		padding-left: 10px;
		position: absolute;
		bottom: 0;
		background:#6bc4df ;
		display: block;
		color: white;
		font-size: 13px;
		padding-top: 7px;
		line-height: 20px;
		p{
			float: right;
			margin-top: 20px;
		}
	}
}